.wrapper{
   min-height: 100vh;
   overflow: hidden;
  width: 100%;
 font-family: 'Quicksand', sans-serif;
}
.container{
   max-width: 1324px;
   padding: 0 15px;
   margin: 0px auto;
   table-layout: fixed;
}
section{
   margin-top: 80px;
}
.section-subtitle {
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: #0F8277;
   }
.section-title {
   font-size: 40px;
   font-weight: 700;
   line-height: 48px;
   margin-top: 12px;
   }
   a{
      text-decoration: none;
   }
   * {box-sizing: border-box;}
/* ------------------------header----------------------------------------*/
.header {
   margin-top: 31px;
}
.header__top {
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__right {
   width: 663px;
   display: flex;
   justify-content: space-between;
}
.header__logo {
}
.header__logo-link {
}
 .header__btn {
   padding: 10px 12px;
   background-color: #0F8277;
   border: 0px;
   color: white;
  border-radius: 4px;
} 
.header__btn::after {
   content: '\2713'; 
   font-size: 10px; 
   color: white; 
   transform: translate(-50%, -50%); /* Коррекция положения для центрирования */
}
.header__form{
  position: relative;
  width: 300px;
}
.header__input  {
   border: none;
   outline: none;
   border-radius: 3px;
}
.header__search-btn{
   border: none;
   outline: none;
border-right: 3px;
border-top-right-radius: 3px;
}
.header__input{
  width: 100%;
  height: 36px;
  padding-left: 15px;
  border: 1px solid  #5C5C5C;
  ;
}
.header__search-btn {
  height: 36px;
  width: 36px;
  position: absolute;
  right: 0;
  top: 0;
  background:#0F8277   ;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__left {
   display: flex;
   justify-content: space-between;
   width: 521px;
   align-items: center;
}
.header__nav {

}
.header__nav-list {
   display: flex;
}
.header__nav-item {
   padding-right: 48px;
   color: black;
}
.header__nav-item:last-child{
   padding-right: 0px;}
.header__nav-link {
   color: black;
   text-decoration: none;
   font-weight:500;
   line-height: 19px;
}
.header__top-btnss {
display: flex;
width: 168px;
justify-content: space-between;
}
.header__top-btnl {
   display: flex;
   align-items: center;
}  
.header__top-btns{
   display: flex;
   align-items: center;
  
}
.header__top-linkl {
   color: #0F8277;
   text-decoration: none;
   padding: 10px 12px;
}
.header__top-links{
   color: white;
   text-decoration: none;
   background-color: #0F8277;
   padding: 10px 12px;
   border-radius: 4px;
}
.header__body {
   margin-top: 31px;
}
.header__body-inner {
   display: flex;
   background-color: #DBF3ED;
   border-radius: 4px;
}
.header__body-content {
   height: 248px;
   width: 512px;
   margin-top: 170px;
   margin-left:110px ;
   margin-bottom: 184px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.header__body-title {
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0em;
}
.header__body-p {
font-size: 22px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.header__body-btns {
   display: flex;
   width: 271px;
   justify-content: space-between;
}
.header__body-btnsl {
}
.header__body-btnl {
}
.header__body-img {
   margin: auto;
}
.header__body-link {
   text-decoration: none;
   color: white;
   background: #0F8277;
padding: 10px 12px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
border-radius: 4px;
}
.header__body-link:last-child{
background: none;
color: #0F8277;
border: 2px solid #0F8277;
}
.dropdown {
   position: relative;
   display: inline-block;
}
.drop-btn::after {
   content: '\2713'; 
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: center;
   margin-left: 5px;  /* Расстояние между текстом и галочкой */
 }

.drop-btn {
   background-color: #0F8277;
   color: white;
   padding: 10px 10px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.dropdown-content {
   display: none;
   width: 384px;
   height: 558px;
   padding: 12px 16px 33px;
   margin-top: 4px;
   box-shadow: 0px 0px 4px 2px #00000040;
   position: absolute;
   background-color: #f9f9f9;
   z-index: 1;
}

.nav-meny {
   display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.dropd-link{
   color: black;
}
.nav-title {
 font-weight: 700;
 line-height: 19px;
margin-bottom: 24px;
margin-top: 40px;
}
.nav-list {
   list-style-type: none;

}
.nav-item {
   padding-top: 16px;
}
.nav-link {
   color: black;
}
.dropdown-content a:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   display: block;
}

/* -----------------------section 1 and 2-----------------------------------------*/
.section-content-text {
}
a{
   text-decoration: none;
}
.box-btn{
color:#0F8277;
position: absolute;
bottom: 24px;
left: 16px;
}
.section-paragraph {
 margin-top: 12px;
 font-size: 20px;
 font-weight: 500;
 line-height: 24px;
 }
.section-box-card {
   margin-top: 40px;
   display: flex;
    justify-content: space-between;
     }
 .box-text-content {
   width: 384px;
    height:65px;
    margin: auto;
    margin-top: 24px;
     display: flex;
    flex-direction: column;
   justify-content: space-between;
      }
 .box {
    border: 1px solid #DADADA;
    border-radius: 4px;
    position: relative;
      }
   .img-content{
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   }
   .name-company {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      display: flex;
      color: black;
      }
      .section-box-p{
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      padding-top: 16px;
      color: black;
      }
   .button {
      margin-left: 16px;
      margin-top: 77px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
   }
.buttonnn{
margin-top:40px ;
text-align: right;
 }
 .link-more-topics{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
text-decoration: none;
color: #0F8277;
font-size: 20px;
font-weight: 700;
line-height: 24px;
}
/* ----------------section3---------------*/

.diplom{
   display: flex;
   align-items: center;
}
.img-icon{
   margin-right: 12px;
}

.section-btn{
   display: flex;
   text-align: center;
   margin-right: 9px;
}
/* -----------------------section3-----------------------------------------*/

.section-boxx-card{
   margin-top: 40px;
   display: grid;
   grid-template-columns: 306px 306px 306px 306px;
   grid-column-gap: 24px;
}
.boxx-text-content{
margin: 24px 16px 0 16px ;

}
.boxx{
  border: 1px solid #DADADA ;
  border-radius: 4px;
}
.offers {
}
.offers__title {
font-size: 40px;
font-weight: 700;
line-height: 48px;
display: inline-block;
}
.nav__offers-category {
   margin-top: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap: 24px;
}
.box-offers {
}
.box__title {
font-size: 24px;
font-weight: 700;
line-height: 29px;
}

.box__list{
margin-top: 32px;
display: grid;
grid-row-gap: 32px;
}
.box__list-item {
   display: grid;
   grid-row: 1fr 1fr;
}
.box__list-link {
   text-decoration: none;
font-size: 20px;
font-weight: 700;
line-height: 24px;
color:#0F8277;
}
.box__item__text {
font-weight: 500;
line-height: 19px;
margin-top: 10px;

}
.section-btn {
   color: #0F8277;
   text-decoration: none;
}

/*--------------------------------------------------*/
.section-partners {
background-color: #DBF3ED;
padding: 80px 0;
}
.section-partners-icon {
}
.partner-icon-list {
   display: flex;
   justify-content: space-between;
   margin-top: 60px;
   align-items: center;
}
.partner-icon {
}
.section-partners-title{
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
margin: 0 212.5px;
}

/*---------------------------------------------------*/
.section-bussines {
}
.cont-biz{
   display: flex;
  justify-content: space-between;
}
.bussines-text-content {
   width: 636px;
   margin-top: 67.5px;
}
.business-sec-btn {
   margin-top: 32px;
}
.btn-s{
font-weight: 700;
line-height: 19px;
color: white;
text-decoration: none;
background-color: #0F8277;
padding: 10px 12px;
border-radius: 4px;}

 .bussines-block {
   text-align: center;
   width: 590px;
   height: 410px;
   display: grid;
   grid-template-columns: 196px 196px 196px;
   align-items: center;
   background-color: #BABABA;
   gap: 1px;
 }
 .cont-img{
   width: 196px;
height: 136px;
background-color: white;
display: flex;
text-align: center;

 }

 .img-company {
   margin: auto;}
   .section-price {
   height: 966px;
   background-color: #DBF3ED;
   padding: 80px 0 100px 0
  
}


.section-price__title {
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;

}
.boxs-plan{
   margin-top: 40px;
   display: flex;
justify-content: space-between;
}
.box-plan {
   width: 416px;
   height: 698px;
   padding: 56px;
   background-color: #FDFDFD;
   border: 1px solid #0F8277;
 border-radius: 24px;
 text-align: center;
}
.box-plan:nth-child(2) {
   color: white;
   background-color: #0F8277}
.box-plan__title {
font-size: 24px;
font-weight: 700;
line-height: 29px;

}
.box-plan__paragraph {
font-weight: 500;
line-height: 19px;
text-align: center;
margin-top: 27px;
display: flex;

}
.price-p{
   margin-top: 27px;
   display: flex;
   align-items: center;
justify-content: center;
}
.box-plan__price {
font-size: 40px;
font-weight: 700;
line-height: 48px;
}
.box-plan__time {
  margin-left: 16px;
}
.box-plan__btn-started {
margin-top: 27px;
border: 0px;
}
.box-plan__btn-started-link {
font-size: 18px;
font-weight: 500;
line-height: 22px;
text-decoration: none;
padding: 10px 12px;
background-color: #0F8277;
color:white;
border: 2px solid #0F8277;
border-radius: 3px;
}
.box-plan:nth-child(2) .box-plan__btn-started-link {
   border-color: white; 
}
.box-plan-line{
  margin-top: 48px;
  height: 1px;
  border: 0px;
  background-color:#0F8277;
}
.special-line{
   height: 2px;
   background-color: white;
}

.box-plan__list {
   margin-top: 48px;
   text-align: left;
}
.box-plan__list-item {
font-weight: 500;
line-height: 19px;
padding-top: 16px;
}
.span-check{
width: 16px;
height: 16px;
border-radius: 50%;
margin-right: 10px;
background-color:#0F8277;
display:inline-flex;
justify-content: center;
align-items: center;
}
.span-checkk{
   width: 16px;
height: 16px;
border-radius: 50%;
margin-right: 10px;
background-color:white;
display:inline-flex;
justify-content: center;
align-items: center;
}

/*-------------------------------------------*/

.section-form {
   height: 727px;
   background-image: url('bag/image 32.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 80px;
   position: relative;
   z-index: -1;
}

.section-form::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: #00000099;
   background-repeat: no-repeat;
   background-size: cover;
}

.form-conteiner {
   height: 614px;
   width: 565px;
   margin: auto;
   background-color: #DBF3ED;
   padding: 30px;
   position: relative;
   z-index: 0;
}
.title-form {
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;

}
.paragraph-form {
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: center;
margin-top: 24px;
}
.form {

}
.box-input{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 24px;
}
label {
margin-bottom: 5px;
font-size: 22px;
font-weight: 600;
line-height: 24px;
}
.input-name {
width: 505px;
height: 48px;
padding: 12px;
border: 1px solid #0F8277;
border-radius: 4px;
padding: 12px;
}
.input-email {
   width: 505px;
height: 48px;
padding: 12px;
border: 1px solid #0F8277;
border-radius: 4px;
padding: 12px;
}
.input-message {
   width: 505px;
   height:104px;
   border: 1px solid #0F8277;
border-radius: 4px;

}
.btn-send {
   border: none;
   background: none;
   margin-top: 37px;
  
}
.btn-kink-send {
   padding: 10px 77px;
   background-color: #0F8277;
   color:white;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
text-align: center;}

.section-photo {
}
.title-photo {
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
margin-bottom: 60px;
}
.container-img {
   display: flex;
 
  
}
.img-student {
}
.container-img {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(306px, 1fr)); /* Автоматически распределять столбцы с минимальной шириной 200px */
   grid-gap: 20px; /* Расстояние между изображениями */
}

.img-student {
   width: 100%; /* Занимать 100% доступной ширины столбца */
   height: auto; /* Сохранять соотношение сторон оригинального изображения */
   display: block; /* Избежать лишних пробелов под изображениями */
}
.large {
   grid-row: span 2;
   grid-column: span 2; /* Занимать два столбца */
}


/*-----------------------------------------------------------*/
.footer {
   padding: 64px 0;
}

.footer-block {
   display: flex;
   justify-content: space-between;
}
.left-footer {
   width: 306px;
}
.right-footer{
   width: 306px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.footer-title {
  
}
.footer-p {
font-weight: 500;
line-height: 19px;
text-align: left;
margin-top: 16px;

}
.social-icons {
   width: 144px;
   display: flex;
   justify-content: space-between;
  
}
.social-icon-i {
   width: 32px;
   height: 32px;
   background-repeat: no-repeat;
}
.social-icon-f {
   width: 32px;
   height: 32px;
   background-repeat: no-repeat;
}
.social-icon-l {
   width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}